.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-submit {
  border: 1px solid #4aaeff;
  background-color: #4aaeff;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.input-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.paper-form {
  padding: 20px;
  margin-top: 20px;
}

.paper-form-single {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-topbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
a {
  text-decoration: none;
}
.table-submission thead {
  background-color: #b3d0ff;
}
.table-submission th {
  font-weight: bold;
}
.two-paper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.paper-one,
.paper-two {
  flex: 1;
}
.add-form-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.add-form-btn .plus-sign {
  font-size: 40px;
  font-weight: bold;
}
.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  color: #282c34 !important;
}
